/* Mise en page Header */

/* Mise en page Body */
main {
    background-image: url(Images/Fond.jpg);
    background-size: cover;
    background-position: 0;
    border-radius: 10px;
    align-content: center;
    
}

.chapitres {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}

.card {
    margin: 20px;
    padding: 10px;
    border: 1px solid #9c9090;
    border-radius: 15px;
    background-color: rgb(255, 147, 147);
    text-align: center;
    box-shadow: -4px 5px 14px 0px;
    width: 70%;
}

.card p {
    text-align: center;
}

.card button {
    display: block;
    background-color: #4346f3;
    color: white;
    border: 1px solid #9c9090;
    border-radius: 5px;
    margin: auto;
    padding: 10px 20px;
    cursor: pointer;
}

.card button:hover {
    background-color: #5558ff;

    border: none;
    border-radius: 5px;
    
    padding: 10px 20px;
    cursor: pointer;
}


/* Mise en page Footer */
footer {
    width: 100%;
}



@media screen and (max-width: 820px) {
    .chapitres {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
}