# 1. Ignorer tout ce qui est dans htdocs/AI_Whatsapp
htdocs/AI_Whatsapp/*

# 2. SAUF le dossier Website
# On autorise le dossier lui-même ET tout son contenu récursivement
!htdocs/AI_Whatsapp/Website/
!htdocs/AI_Whatsapp/Website/**

# 3. Ignorer le script d'automatisation lui-même
whatsapp_session/
htdocs/Cours-C++/Programmes/
htdocs/Cours-Python/Programmes/
pushToGithub.py

# 4. Fichiers Python et système
linkVsCode_Github
.venv/
__pycache__/
*.pyc
.env
.DS_Store
*.pdb
*.obj
*.ilk
*.exe
.vs/