body {
    background: linear-gradient(to right, #2e3e4e, #e9eef3);
}

.cv-container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

/* Header */
.cv-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cv-header h1 {
    margin: 0;
}

/* Bouton */
.btn-download {
    background-color: #242323;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-download:hover {
    background-color: #444;
}

/* CV */
.cv {
    display: flex;
    justify-content: center;
}

/* Format PC */
.cv iframe {
    width: 794px;
    height: 1123px;
    border: none;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

/* 📱 Responsive mobile */
@media screen and (max-width: 900px) {
    .cv iframe {
        width: 100%;
        height: 90vh;
    }

    .cv-header {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}
