/*
* {
    margin: 0;
    padding: 0;
    border: 2px solid red;
}
*/

body {
    font-family: "DMSherif", Verdana;
    background: url(./Images/bg.jpg) center/cover;

    /* VH = 100% de la taille de l'écran en hauteur */
    min-height: 100vh;
}

h1 {
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    
    /* Les tailles de police doivent etre en rem : 1rem=16px */
    font-size: 2vw;
    text-shadow: 2px 3px 3px #00000052;
    color: rgb(140, 25, 100);
    text-decoration: underline;
    font-family: "Oswalt", sans-serif;
}

h2 {
    margin: 0;
}
main{
    min-height: 500px;
    width: 90%;
    background: rgba(211, 211, 211, 0.515);

    /* Centrer horizontalement */
    margin: 0 auto;
    border: 3px solid rgb(31, 16, 166);
    border-radius: 20px 20px 0 0;
    box-shadow: 1px -1px 20px 5px #2aaefe;
    padding: 15px;
}

.flexbox, .grid, .absolute {
    border: 2px solid skyblue;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    min-height: 150px;
}

/* FLEXBOX */
/*Sert à répartir equitablement les éléments sur la page*/

.flexbox ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.flexbox li {
    list-style: none;
    height: 160px;
    width: 160px;
    margin: 10px;
    background: turquoise;

    /* Centrer le texte dans les boxes */
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Grid*/
.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
}

.grid img {
    margin: 10px auto;
    width: 65%;
    height: auto;
    display: block;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "i1 i2"
        "ta ta"
        "vi bt";
}

input, textarea{
    margin: 5px;
    border: 1px solid darkblue;
    padding: 10px;
    font-size: 1.1rem;
    font-family: "DMSherif", Verdana;
    height: 40px;
    border-radius: 5px;
}

textarea {
    grid-area: ta;
    /*height: 20px;*/
    resize: none;
}

#btnSubmit {
    grid-area: bt;
    cursor: pointer;
    background: cyan;
    transition: 0.2s;
}

#btnSubmit:hover {
    background: deepskyblue;
    color: white;
}


/* Absolute positioning */

/* Le parent doit avoir une position relative pour que l'enfant en absolute se positionne par rapport à lui */
.absolute {
    position: relative;
}

#circle1 {
    height: 80px;
    width: 80px;
    background-color: skyblue;
    position: absolute;
    border-radius: 150px;
    top: -20px;
    right: -20px;
}

#circle2 {
    height: 40px;
    width: 40px;
    background-color: teal;
    position: absolute;
    border-radius: 150px;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
}

/* Responsive design */
@media screen and (max-width: 910px) {
    .grid-container {
        display: block;
    }

    .grid-container img {
        width: 40%;
        display: block;
        margin: 10px auto;
    }
}

@media screen and (max-width: 660px) {
    form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "i1"
            "i2"
            "ta"
            "bt";
    }

    .flexbox ul {
        flex-direction: column;
        align-items: center;
    }

    input, textarea {
        font-size: 0.8rem;
    }
}