body{
	background-color: antiquewhite;
}

.fond {	/*Agit pour toutes les classes de type fond*/
	color: cadetblue;
	position: fixed;
	top: 10px;
	right: -40px;
	width: 150px;
	height: auto;
	z-index: 1;
}

#Chat{
	position: absolute;
	top: 10px;
	left: 0px;
	z-index: 5;
	color: aqua;
}

#Tableau_Sushis{
	color: rgb(194, 180, 52);
	position: relative;
	left: 400px;
	border: 0px;
	border-color: aquamarine;
}

#Spam{
	color: rgb(3, 240, 11);

}