/* Mise en Page de l'entête*/
header {
    background-color: #3f3838;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

header nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    margin-right: 10px;
}

header a {
    color: rgb(177, 176, 176);
    text-decoration: none;
    /*border-left: 2px solid black;
    border-right: 2px solid black;*/
    background-color: rgba(0, 0, 0, 0.10);
    padding: 1px;
    
}

header a:hover {
    background-color: #9c9090;
    font-style: italic;
    color: white;
    text-decoration: underline;
    transition: all 0.5s ease;
}

/* Mise en page du corps*/
body {
    font-family: Arial, sans-serif;
    background-color: #dbd8d8;
    color: #333;
}

main p {
    margin: 20px auto;
    text-align: justify;
}

table {
    border: 3px solid black;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
    border-style:ridge;
}

table th, table td {
    border: 2px solid #333;
    padding: 10px;
}

table caption {
    font-size: 15px;
    font-style: italic;
    margin-bottom: 10px;
    font-weight: bold;
    caption-side: bottom;
}

pre {
    background-color: #c4c0c0;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-x: auto;
}

/* Mise en page du pied de page*/
footer {
    background-color: #3f3838;
    color: white;
    text-align: center;
    padding: 10px 0;
}