/* Mise en page du corps*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #333;
    height: 100vh;
}

main {
    background-image: url(images/java_fond.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    align-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    justify-items: center;
    align-items: center;
}

.card {
    margin: 20px;
    padding: 10px;
    border: 1px solid #9c9090;
    border-radius: 15px;
    background-color: rgb(232 255 147 / 51%);
    box-shadow: -4px 5px 14px 0px;
    width: 70%;
    text-align: center;
}

.card p {
    text-align: center;
    color: #5b2e06;
    font-weight: bold;
}

.card button {
    background-color: #283320;
    color: white;
    border: 1px solid #9c9090;
    border-radius: 5px;
    margin: auto;
    padding: 10px 20px;
    cursor: pointer;
}

.card button:hover {
    background-color: #5558ff;
    cursor: pointer;
}

#intro {
    font-size: 18px;
    margin: 20px auto;
    width: 70%;
    text-align: justify;
}

@media screen and (max-width: 1200px) {
    .grid-container {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
}