/* Mise en Page de l'entête*/
header {
    background-color: #3f3838;
    color: white;
    text-align: center;
    /*padding: 10px 0;*/
    margin: 0;
}

header nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    margin-right: 10px;
}

header a {
    color: rgb(177, 176, 176);
    text-decoration: none;
    /*border-left: 2px solid black;
    border-right: 2px solid black;*/
    background-color: rgba(0, 0, 0, 0.10);
    padding: 1px;
    
}

header a:hover {
    background-color: #9c9090;
    font-style: italic;
    color: white;
    text-decoration: underline;
    transition: all 0.5s ease;
}

/* Mise en page du corps*/
body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 12% 83% 5%;
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(ellipse at center, #5981a8, #e9eef3);
    color: #333;
    margin: 0;
    height: 100vh;
}

h2 {
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
}

/*
h3 {
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
}
*/

main {
    flex: 2;
    margin: 10px 15%;
    border-style: ridge;
    padding: 20px 30px;
}

main p {
    margin: 20px auto;
}

table {
    border: 3px solid black;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
    border-style:ridge;
}

table th, table td {
    border: 2px solid #333;
    padding: 10px;
    font-size: 15px;
}

table th {
    font-size: large;
}

table caption {
    font-size: 15px;
    font-style: italic;
    margin-bottom: 10px;
    font-weight: bold;
    caption-side: bottom;
}

.emptyCase {
    background-color: #2aa5393b;
    border: 0;
}

pre {
    background-color: #c4c0c0;
    font-weight: bold;
    font-style: italic;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-x: auto;
}

#alert {
    font-weight: bold;
    color: red;
}

.bold {
    font-weight: bold;
}

/* Mise en page du pied de page*/
footer {
    background-color: #3f3838;
    color: white;
    text-align: center;
    align-content: center;
    width: 100%;
}


@media screen and (max-width: 1600px) { /*max-width: 1300px*/
    body {
        grid-template-rows: auto;
        height: auto;
    }
}
