header {
    text-align: center;
    margin: 5px;
}

header a {
    margin:0;
}

h1 {
    margin:0;
    font-size: 3rem;
    text-shadow: 3px 2px 11px #78612d;  
}


p{
    text-align: justify;
    position:relative;
    text-emphasis-style:open; 
}


#Paragraphe_1 {
    /*-text-align:justify;*/
    background-color: bisque;
} 

#PartIm{
    justify-items: center;   
}
